.aboutpage_body{
    background-color: var(--background-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;    
    padding: 70px 220px;
    color: var(--white-text);
}